@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Lato', sans-serif;
}

label {
  font-weight: 700;
  margin-bottom: 1rem;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(245, 245, 245);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background: #e3e3e3;
  box-shadow:  20px 20px 60px #c1c1c1, 
              -20px -20px 60px #ffffff;
}

.list p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

div li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div li + li {
  margin-top: 15px;
}

button {
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.16rem;
}

.repo {
  display: flex;
  flex-direction: row;
}

.btn-add {
  background: #5843BE;
  padding: 1rem 3rem;
  border-radius: 1rem;
}

.btn-del{
  margin: 0 1rem;
  width: 2rem;
  height: 2rem;
  background: #ca4949;
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.addRepo {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  background: #e3e3e3;
  box-shadow:  20px 20px 60px #c1c1c1,
              -20px -20px 60px #ffffff;
}

input {
  margin-bottom: 2rem;
  background: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(40, 39, 44);
  border-image: initial;
  border-radius: 5rem;
  padding: 15px 21px;
  transition: border 0.2s ease 0s;
}